{% extends 'template.html' %}
{% load static %}
{% block content %}
    <style>
        .lwrap {
            color: #fff;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            width: 100vw;
            max-width: 100%;
            top: 20vh;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1.7em;
        }

        .landing {
            background: rgba(255, 255, 255, 0.2);
            width: 80%;
            padding: 40px 60px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 7em;
            font-weight: 400;
            color: #fff;
            text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.2);
        }

        code {
            background: rgba(255, 255, 255, 0.5);
        }

        .eos {
            margin-top: 150px;
            right: 15%;
            position: absolute;
            z-index: -999;
        }

        .bbb{
            margin-top: 20px;
            border-radius: 30px;
            background: none;
            padding:15px 30px;
            border:2px solid #fff;
            color:#fff;
        }

        p{
            font-size: 1.2em;
            font-weight: 300;
        }

    h3{text-shadow: none}
    </style><img src="{% static 'eos4.png' %}" class="eos">
    <div class="lwrap">
        <div class="landing ">

            <div class="row">
                <h1 class="">Worker</h1>
                <p>Сайт для талантливых специалистов и требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным. Сайт для талантливых специалистов и
                    требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным.</p>
                <h3 class="display-4">Проблема</h3>
                <p>Сайт для талантливых специалистов и требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным. Сайт для талантливых специалистов и
                    требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным.</p>
                <h3 class="display-4">Решение</h3>
                <p>Сайт для талантливых специалистов и требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным. Сайт для талантливых специалистов и
                    требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным.</p>
                <h3 class="display-4">Стек технологий</h3>
                <p>Сайт для талантливых специалистов и требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным. Сайт для талантливых
                    специалистов и требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным.</p>

                <div class="col-md-1"></div>
                <div class="col-md-5 text-right">
                    <a href="#" class="btn btn-primary bbb">Присоединиться</a>
                </div>
                <div class="col-md-5 text-left">
                    <a href="#" class="btn btn-primary bbb">Исследовать</a>
                </div>
                <div class="col-md-1"></div>
                <h3 class="display-4">Проблема</h3>
                <p>Сайт для талантливых специалистов и требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным. Сайт для талантливых специалистов и
                    требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным.</p>
                <h3 class="display-4">Решение</h3>
                <p>Сайт для талантливых специалистов и требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным. Сайт для талантливых специалистов и
                    требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным.</p>
                <h3 class="display-4">Стек технологий</h3>
                <p>Сайт для талантливых специалистов и требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным. Сайт для талантливых
                    специалистов и требовательных работодателей. Благодаря самым современным
                    блокчейн-технологиям поиск работы становится простым и надёжным.</p>

                <div class="col-md-1"></div>
                <div class="col-md-5 text-right">
                    <a href="#" class="btn btn-primary bbb">Присоединиться</a>
                </div>
                <div class="col-md-5 text-left">
                    <a href="#" class="btn btn-primary bbb">Исследовать</a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(window).scroll(function () {
   $('.eos').css({
      'top' : +($(this).scrollTop()/2)+"px"
   });

});
    </script>
{% endblock %}
