
{% extends 'template.html' %}

{% block content %}
<div class=" " style="position: absolute; height: calc(100vh - 80px) ; width: 100vw; display: flex; align-items: center; justify-content: center; color: white; text-align: center">
    <div>
        <div style="font-size: 52px; margin: 20px 0px 10px 0px">
             Worker
        </div>
        <div style="font-size: 24px;  margin: 20px 0px 10px 0px">
            Сайт для работников и работодателей. <br><a class="btn btn-primary" href="#" role="button">Подробнее...</a>
</div>
        </div>
    </div>
</div>

{% endblock %}
