{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
<head>
    <style>
        input{
            width: 270px!important;
        }
        textarea{
            width: 270px!important;
            height: 100px!important;
        }
    </style>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body style="background: url('../static/blockchain08.jpg')">
<div style="display: flex; justify-content: flex-start; color: rgba(255,255,255,0.9)!important;">
    {% bootstrap_messages %}
    <div style="padding: calc((100vh - 13rem)/2) 60px;background-color: rgba(159,198,255,0.2);height: 100%">
<form action="/login/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}
    {% bootstrap_field form.name placeholder='example@gmail.com' %}
    {% bootstrap_field form.password  %}
    {% buttons %}
    <button type="submit" class="btn" style="margin-top: 15px">
            Войти
    </button>

    {% endbuttons %}
</form>
</div>
</form>

{#Уже есть аккаунт? <a href="{% url 'login_user' %}">Вход</a>#}

</div>
</div>
</body>
</html>
